td {
    border-width: 1px;
    border-style: solid;
    width: 50px;
    height: 50px;
}
/*.outer > .row > .inner {*/
/*margin-right: 1px;*/
/*margin-bottom: 1px;*/
/*margin-left: 1px;*/
/*margin-top: 1px;*/
/*}*/
.outer {
    border-width: 2px;
    border-color:#7B7777;
    display: table;

}
.boxHighlight{
    border-color:#0034FF;
    border-style: solid solid solid solid;
}
.inner {
    border-color:#7A7979;
    text-align: center;
    border-width: 0.5px;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}
.outerRow {
    display: table-row-group;

}
.mainTable {
    height: 100%;
    vertical-align: middle;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
body html {
    height: 100%;
}
.innerRow {
    width: auto;
}
#playerSelect1, #playerSelect2{
    display:block;
}

win, loss, tie {
    color: #060203;
}

.focus  name{
    color: #0034FF;
}

.innerTie {
    background-color:#F8DCAD;
    opacity:.1;
}
.active{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    opacity: 1;
    cursor:pointer;
}
.inactive{
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    opacity: 0.3;
    cursor:not-allowed;
}

@media (min-width:400px) and (max-width:767px){
    .outer{
        width:109px;
    }
    .inner{
        width: 35px;
        height: 35px;
        line-height: 2em;
    }
    .innerWinner{
        text-align: center;
        font-size:73.5px;
    }

}

@media (min-width:768px){
    .outer{
        width:157px;
    }
    .inner{
        width: 50px;
        height: 50px;
        line-height: 4em;
    }
    .innerWinner{
        text-align: center;
        font-size:105px;
    }


}

@media (min-width: 300px) and (max-width: 371px){
    .outer{
        width:98px;
    }
    .inner{
        width: 30px;
        height: 30px;
        line-height: 2em;
    }
    .innerWinner{
        text-align: center;
        font-size:63px;
    }
    .mainTable{
        padding: 15px 2px 15px 2px;

    }
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


@-webkit-keyframes border-blink {
    50% {
        border-color: #000;
    }
}
@-moz-keyframes border-blink {
    50% {
        border-color: #000;
    }
}
@keyframes border-blink {
    50% {
        border-color: #000;
    }
}
@-webkit-keyframes blink {
    50% {
        visibility: hidden;
    }
}
@-moz-keyframes blink {
    50% {
        visibility: hidden;
    }
}
@keyframes blink {
    50% {
        visibility: hidden;
    }
}
@-webkit-keyframes appear {
    from {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes appear {
    from {
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes appear {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0.3;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0.3;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0.3;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0.3;
    }
}
